@media screen and (max-width: 576px) {
    .cookies__button {
        margin-left: 0px;
    }
    .main-screen__title {
        font-size: 30px;
        font-weight: 700;
    }
    .subtitle {
        width: 100%;
    }
}