main {
    width: 1400px;
    height: 940px;
    background-color: #ffffff;
}

h1 {
    width: 384px;
    height: 51px;
    font-size: 42px;
    letter-spacing: 0px;
    color: #171717;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    margin-left: 121px;
}

.Great {
    float: left;
    margin-right: 20px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 130px;
    font-family: serif;
}

.text {
    margin-left: 121px;
    margin-right: 138px;
    margin-top: 39px;
    margin-bottom: 38px;
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #171717;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.sent {
    font-size: 25px;
}

.quot {
    font-size: 35px;
    margin-right: 20px;
}

button {
    width: 264px;
    height: 68px;
    border: 2px solid #eaa258;
    background-color: #fff;
    margin-left: 121px;
    color: #eaa258;
    margin-bottom: 120px;
}

.button {
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
}

button:hover {
    background-color:  #eaa258;
    color: #fff;
}