@font-face {
    font-family: Bebas Neue;
    src: url(/fonts/bebas_neue/BebasNeueBold.otf);
   }

   @font-face {
    font-family: Bebas Neue;
    src: url(/fonts/bebas_neue/BebasNeueBook.otf);
   }

   @font-face {
    font-family: Bebas Neue;
    src: url(/fonts/bebas_neue/BebasNeueLight.otf);
   }

   @font-face {
    font-family: Bebas Neue;
    src: url(/fonts/bebas_neue/BebasNeueRegular.otf);
   }

   @font-face {
    font-family: Bebas Neue;
    src: url(/fonts/bebas_neue/BebasNeueThin.otf);
   }

   @font-face {
    font-family: Themify;
    src: url(/fonts/themify.ttf);
   }